body,
html {
  /*width: 100%;
  height: auto;*/
  font-family: 'Montserrat', sans-serif;
  /*background-image: url(header.jpg);
  background-size: cover;*/
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*  display: flex;
  align-items: center;
  justify-content: center;*/
}
h1{
	color: white;
	text-transform: uppercase;
/*	align-self: center;*/
	font-size: 3rem;
}

hr{
	border-color:#f05f44;
	border-width: 3px;
	max-width: 65px
}
.btn-xl {
	padding: 1rem 2rem;
}
.btn{
	font-weight: 700;
	border-radius: 300px;
}
.btn-primary{
	background-color: #F05F44;
	border-color: #F05F44;
}
.btn-primary:hover{
	background-color: #ee4b08;
	border-color: #ee4b08;
}
.buffer{
	height:10rem;
}